/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15 mars 2016, 13:59:52
    Author     : admin
*/

.titre{
    font-family: fantasy;
    text-decoration: blink;
    text-shadow: 3px 5px 10px #000;
    font-size: 100px;
    text-align: center;
    height: 150px;
    color: gold;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 230px;
}

.contenu{
    text-align: center;
    font-size: medium;
    font-family: monospace;   
    color: black;
    height: 400px;
}

.bodyFerme{
    background-image: url(../Images/farm2.png);
    background-size: 1600px;
    background-repeat: no-repeat;
}

.bodyHome{
    background-image: url(../Images/Les-animaux-de-la-ferme.jpg), radial-gradient(#00cc33, #66ff66);
    padding-bottom: 10px;
    padding-top: 10px;
    background-position: top center;
    background-repeat: no-repeat;
    background-color: limegreen;
}

.pied{
    text-align: center;
    font-family: inherit;
    font-size: small;
    color: black;
    font-style: italic;    
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.connexion{
    text-align: center;
    font-size: medium;
    color: black;
    font-family: Verdana;
    font-variant: all-small-caps;
    position: fixed;
    top: 10px;
    background-color: wheat;
    opacity: 0.80;
    height: 100px;
    border-style: solid;
    border-color: whitesmoke;
}

.deconnexion{
    text-align: center;
    font-size: medium;
    color: black;
    font-family: Verdana;
    font-variant: all-small-caps;
    position: fixed;
    top: 10px;
    background-color: wheat;
    opacity: 0.80;
    height: 50px;
    border-style: solid;
    border-color: whitesmoke;
}

.inscription{
    margin-left: 650px;
    left: 50%;
    text-align: center;
    background-color: chocolate;
    opacity: 0.8;
}

.boutonHome {
    background-color: gold;
    border-radius:42px;
    border:4px black outset;
    cursor:pointer;
    color: black;
    font-family:Arial;
    font-size:28px;
    font-weight:bold;
    padding:32px 76px;
    text-shadow:0px 4px 0px #528009;
    opacity: 0.75;
    margin-top: 350px;
}

.stock{
    text-align: justify;
    width: 320px;
    height: 270px;
    background-color: #00cc33;
    opacity: 0.75;
    border-style: groove;
    border-color: greenyellow;
    margin-left: 1200px;
    float: left;
    display: inline-block;
}

.dateJeu{
    background-color:#00cc33;
    width: 200px;
    height: 100px;
    margin-top: 100px;
    opacity: 0.75;
    text-align: center;
    border-style: groove;
    border-color: greenyellow;
}

.dureeVie{
    background-color: #ff3333;
    opacity: 0.75;
    width: 150px;
    height: 200px;
    margin-top: 50px;
    float: left;
    display: inline-block;
    text-align: center;
    border-style: outset;
    border-color: #ff6666;
}

.bouton1{
    
}



